.content
  .container
    .row
      .col-lg-8.col-md-8.col-sm-7.col-xs-12
        .post-holder
          // post block
          div
            h2.mb40
              a(href='#') Free estate broker website template
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.pdt20
                .meta
                  span.meta-date 25 Dec, 2020
                  span |
                  span.meta-admin
                    | By 
                    a(href='#') Admin
                  span |
                  span.meta-comments 08 comments
                p
                  | Suspendisse ultricies tortor tortor. Pellentesque habitant morbi tristique senectus et netus etese malesuada famesac turpis egest raesent vitae facilisis nisl.
                a.btn.btn-primary.btn-xs(href='#') read more
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .post-img
                  a.imghover(href='#')
                    img.img-responsive(src='./img/post-big-1.jpg', alt='')
        .post-holder
          // post block
          div
            h2.mb40
              a(href='#') Real estate free website template
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.pdt20
                .meta
                  span.meta-date 24 Dec, 2020
                  span |
                  span.meta-admin
                    | By 
                    a(href='#') Admin
                  span |
                  span.meta-comments 04 comments
                p
                  | Aliquam hendrerit varius bibendumusceve mssa ipsum. Etiam tincidunt nibh dolorquis pretiumse ligula facilisis fermentuorbi placerat lectus eget consectetur vehiculaleo dui elemen.
                a.btn.btn-primary.btn-xs(href='#') read more
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .post-img
                  a.imghover(href='#')
                    img.img-responsive(src='./img/post-big-2.jpg', alt='')
        .post-holder
          // post block
          div
            h2.mb40
              a(href='#') Single broker free website template
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.pdt20
                .meta
                  span.meta-date 23 Dec, 2020
                  span |
                  span.meta-admin
                    | By 
                    a(href='#') Admin
                  span |
                  span.meta-comments 05 comments
                p
                  | Curabitur vestibulum libero a arcu mattisvel one auctor leomolestie liquam vitae finibus dolor ine one vivamus consequat consequat orci sitamet tinciduuis metus felisut finibus.
                a.btn.btn-primary.btn-xs(href='#') read more
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .post-img
                  a.imghover(href='#')
                    img.img-responsive(src='./img/post-big-3.jpg', alt='')
        .post-holder
          // post block
          div
            h2.mb40
              a(href='#') Free website templates
            .row
              .col-lg-120col-md-12.col-sm-12.col-xs-12
                .meta
                  span.meta-date 23 Dec, 2020
                  span |
                  span.meta-admin
                    | By 
                    a(href='#') Admin
                  span |
                  span.meta-comments 05 comments
                p
                  | Curabitur vestibulum libero a arcu mattisvel one auctor leomolestie liquam vitae finibus dolor ine one vivamus consequat consequat orci sitamet tinciduuis metus felisut finibus.
                a.btn.btn-primary.btn-xs(href='#') read more
        .post-holder
          .blockquote
            .blockquote-content
              p
                | “Real Estate Broker Free Website Template”
              .blocquote-author -Unknown 
        .st-pagination
          ul.pagination
            li
              a(href='#', aria-label='previous')
                span(aria-hidden='true') Previous
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#', aria-label='Next')
                span(aria-hidden='true') Next
