@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?80428775');
  src: url('../fonts/fontello.eot?80428775#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?80428775') format('woff2'),
       url('../fonts/fontello.woff?80428775') format('woff'),
       url('../fonts/fontello.ttf?80428775') format('truetype'),
       url('../fonts/fontello.svg?80428775#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?80428775#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-award:before { content: '\e800'; } /* '' */
.icon-balcony:before { content: '\e801'; } /* '' */
.icon-bathtub:before { content: '\e802'; } /* '' */
.icon-big-house:before { content: '\e803'; } /* '' */
.icon-book-bag:before { content: '\e804'; } /* '' */
.icon-brick-wall:before { content: '\e805'; } /* '' */
.icon-broker:before { content: '\e806'; } /* '' */
.icon-building:before { content: '\e807'; } /* '' */
.icon-building-1:before { content: '\e808'; } /* '' */
.icon-building-crane:before { content: '\e809'; } /* '' */
.icon-bungalow:before { content: '\e80a'; } /* '' */
.icon-buying-a-house:before { content: '\e80b'; } /* '' */
.icon-calendar-on-day-17:before { content: '\e80c'; } /* '' */
.icon-car-and-garage:before { content: '\e80d'; } /* '' */
.icon-carpenter-hacksaw:before { content: '\e80e'; } /* '' */
.icon-chinese-temple:before { content: '\e80f'; } /* '' */
.icon-closed-door:before { content: '\e810'; } /* '' */
.icon-combination-lock:before { content: '\e811'; } /* '' */
.icon-compasses-tool:before { content: '\e812'; } /* '' */
.icon-concrete-mixer:before { content: '\e813'; } /* '' */
.icon-construction-helmet:before { content: '\e814'; } /* '' */
.icon-copy-documents:before { content: '\e815'; } /* '' */
.icon-country-house:before { content: '\e816'; } /* '' */
.icon-court-gavel:before { content: '\e817'; } /* '' */
.icon-direction-sign:before { content: '\e818'; } /* '' */
.icon-door-hang:before { content: '\e819'; } /* '' */
.icon-drill:before { content: '\e81a'; } /* '' */
.icon-eco-house:before { content: '\e81b'; } /* '' */
.icon-electricity-light-bulb:before { content: '\e81c'; } /* '' */
.icon-factory:before { content: '\e81d'; } /* '' */
.icon-favorite-house:before { content: '\e81e'; } /* '' */
.icon-fire-place:before { content: '\e81f'; } /* '' */
.icon-folded-newspaper:before { content: '\e820'; } /* '' */
.icon-gardening-shovel:before { content: '\e821'; } /* '' */
.icon-garden-shears:before { content: '\e822'; } /* '' */
.icon-hammer-tool:before { content: '\e823'; } /* '' */
.icon-hangar-entrance:before { content: '\e824'; } /* '' */
.icon-heater:before { content: '\e825'; } /* '' */
.icon-high-voltage-bolt:before { content: '\e826'; } /* '' */
.icon-holding-key:before { content: '\e827'; } /* '' */
.icon-home-building:before { content: '\e828'; } /* '' */
.icon-home-key:before { content: '\e829'; } /* '' */
.icon-home-phone:before { content: '\e82a'; } /* '' */
.icon-hotel-elevator:before { content: '\e82b'; } /* '' */
.icon-hotel-entrance:before { content: '\e82c'; } /* '' */
.icon-hotel-road-sign:before { content: '\e82d'; } /* '' */
.icon-hourglass-with-arrow:before { content: '\e82e'; } /* '' */
.icon-house-exchange:before { content: '\e82f'; } /* '' */
.icon-house-plan-board:before { content: '\e830'; } /* '' */
.icon-house-plans:before { content: '\e831'; } /* '' */
.icon-house-plan-scale:before { content: '\e832'; } /* '' */
.icon-house-price:before { content: '\e833'; } /* '' */
.icon-house-search:before { content: '\e834'; } /* '' */
.icon-house-ventilation:before { content: '\e835'; } /* '' */
.icon-incision-plan:before { content: '\e836'; } /* '' */
.icon-industrial-plant:before { content: '\e837'; } /* '' */
.icon-internet-store:before { content: '\e838'; } /* '' */
.icon-laundry-machine:before { content: '\e839'; } /* '' */
.icon-lawn-mowner:before { content: '\e83a'; } /* '' */
.icon-letter-note:before { content: '\e83b'; } /* '' */
.icon-light-bulb-and-filament:before { content: '\e83c'; } /* '' */
.icon-light-bulb-lamp:before { content: '\e83d'; } /* '' */
.icon-loud-speaker:before { content: '\e83e'; } /* '' */
.icon-mailbox-and-envelope:before { content: '\e83f'; } /* '' */
.icon-map-locator:before { content: '\e840'; } /* '' */
.icon-map-point:before { content: '\e841'; } /* '' */
.icon-medicine-chest:before { content: '\e842'; } /* '' */
.icon-meter-tape:before { content: '\e843'; } /* '' */
.icon-money-bills:before { content: '\e844'; } /* '' */
.icon-move-truck:before { content: '\e845'; } /* '' */
.icon-music-headphones:before { content: '\e846'; } /* '' */
.icon-my-house:before { content: '\e847'; } /* '' */
.icon-nightstand:before { content: '\e848'; } /* '' */
.icon-nippers:before { content: '\e849'; } /* '' */
.icon-notebook:before { content: '\e84a'; } /* '' */
.icon-office-chair:before { content: '\e84b'; } /* '' */
.icon-office-clip:before { content: '\e84c'; } /* '' */
.icon-office-folders:before { content: '\e84d'; } /* '' */
.icon-open-access:before { content: '\e84e'; } /* '' */
.icon-open-box:before { content: '\e84f'; } /* '' */
.icon-open-door:before { content: '\e850'; } /* '' */
.icon-outdoor-fence:before { content: '\e851'; } /* '' */
.icon-painter-brush:before { content: '\e852'; } /* '' */
.icon-paint-roller-tool:before { content: '\e853'; } /* '' */
.icon-paper-and-pencil:before { content: '\e854'; } /* '' */
.icon-parking-sign:before { content: '\e855'; } /* '' */
.icon-parquet:before { content: '\e856'; } /* '' */
.icon-pen-and-set-square:before { content: '\e857'; } /* '' */
.icon-phone-with-arrow:before { content: '\e858'; } /* '' */
.icon-pig-money-safe:before { content: '\e859'; } /* '' */
.icon-pipe-wrench:before { content: '\e85a'; } /* '' */
.icon-plumber-tap:before { content: '\e85b'; } /* '' */
.icon-printing-document:before { content: '\e85c'; } /* '' */
.icon-private-garage:before { content: '\e85d'; } /* '' */
.icon-real-estate-caravan:before { content: '\e85e'; } /* '' */
.icon-real-estate-mansion:before { content: '\e85f'; } /* '' */
.icon-regulator:before { content: '\e860'; } /* '' */
.icon-renting-house:before { content: '\e861'; } /* '' */
.icon-rent-sign:before { content: '\e862'; } /* '' */
.icon-rent-sign-1:before { content: '\e863'; } /* '' */
.icon-reparation-tools:before { content: '\e864'; } /* '' */
.icon-restaurant-table:before { content: '\e865'; } /* '' */
.icon-retro-tv:before { content: '\e866'; } /* '' */
.icon-road-billboard:before { content: '\e867'; } /* '' */
.icon-roman-temple:before { content: '\e868'; } /* '' */
.icon-room-bed:before { content: '\e869'; } /* '' */
.icon-rounded-glasses:before { content: '\e86a'; } /* '' */
.icon-rubber-stamp:before { content: '\e86b'; } /* '' */
.icon-science-calculator:before { content: '\e86c'; } /* '' */
.icon-security-lock:before { content: '\e86d'; } /* '' */
.icon-shower-head:before { content: '\e86e'; } /* '' */
.icon-skyscrapers:before { content: '\e86f'; } /* '' */
.icon-small-house:before { content: '\e870'; } /* '' */
.icon-small-rounded-caravan:before { content: '\e871'; } /* '' */
.icon-socket-and-plug:before { content: '\e872'; } /* '' */
.icon-spatula:before { content: '\e873'; } /* '' */
.icon-stand-lamp:before { content: '\e874'; } /* '' */
.icon-statistics-arrow:before { content: '\e875'; } /* '' */
.icon-step-ladder:before { content: '\e876'; } /* '' */
.icon-street-advertising:before { content: '\e877'; } /* '' */
.icon-studio-speaker:before { content: '\e878'; } /* '' */
.icon-swimming-pool-top-view:before { content: '\e879'; } /* '' */
.icon-switch-on:before { content: '\e87a'; } /* '' */
.icon-tablet-with-arrow:before { content: '\e87b'; } /* '' */
.icon-toilet-sign:before { content: '\e87c'; } /* '' */
.icon-tree-and-branches:before { content: '\e87d'; } /* '' */
.icon-trip-suitcase:before { content: '\e87e'; } /* '' */
.icon-trowel-tool:before { content: '\e87f'; } /* '' */
.icon-unsecure:before { content: '\e880'; } /* '' */
.icon-up-arrow-in-board:before { content: '\e881'; } /* '' */
.icon-upload-dialogue:before { content: '\e882'; } /* '' */
.icon-upload-folded-file:before { content: '\e883'; } /* '' */
.icon-vacuum-cleaner:before { content: '\e884'; } /* '' */
.icon-vintage-auricular:before { content: '\e885'; } /* '' */
.icon-wallet-with-bill:before { content: '\e886'; } /* '' */
.icon-water-valve:before { content: '\e887'; } /* '' */
.icon-website-home:before { content: '\e888'; } /* '' */
.icon-weight-balance:before { content: '\e889'; } /* '' */
.icon-wheelbarrow-with-things:before { content: '\e88a'; } /* '' */
.icon-window-frame:before { content: '\e88b'; } /* '' */
.icon-women-purse:before { content: '\e88c'; } /* '' */
.icon-work-barrow:before { content: '\e88d'; } /* '' */
.icon-writing-cheque:before { content: '\e88e'; } /* '' */
.icon-2-floor-house:before { content: '\e88f'; } /* '' */
.icon-2-store-house:before { content: '\e890'; } /* '' */
.icon-3d-bar-chart:before { content: '\e891'; } /* '' */
.icon-access-key:before { content: '\e892'; } /* '' */
.icon-air-conditioner:before { content: '\e893'; } /* '' */
.icon-arched-bridge:before { content: '\e894'; } /* '' */
.icon-armchair:before { content: '\e895'; } /* '' */
.icon-blueprint:before { content: '\e896'; } /* '' */
.icon-cityscape:before { content: '\e897'; } /* '' */
.icon-elevator:before { content: '\e898'; } /* '' */
.icon-house:before { content: '\e899'; } /* '' */
.icon-house-1:before { content: '\e89a'; } /* '' */
.icon-house-2:before { content: '\e89b'; } /* '' */
.icon-house-3:before { content: '\e89c'; } /* '' */
.icon-house-4:before { content: '\e89d'; } /* '' */
.icon-house-5:before { content: '\e89e'; } /* '' */
.icon-house-key:before { content: '\e89f'; } /* '' */
.icon-house-key-1:before { content: '\e8a0'; } /* '' */
.icon-house-key-2:before { content: '\e8a1'; } /* '' */
.icon-laptop:before { content: '\e8a2'; } /* '' */
.icon-laptop-1:before { content: '\e8a3'; } /* '' */
.icon-mortgage:before { content: '\e8a4'; } /* '' */
.icon-mortgage-1:before { content: '\e8a5'; } /* '' */
.icon-mortgage-2:before { content: '\e8a6'; } /* '' */
.icon-mortgage-3:before { content: '\e8a7'; } /* '' */
.icon-mortgage-4:before { content: '\e8a8'; } /* '' */
.icon-placeholder:before { content: '\e8a9'; } /* '' */
.icon-real-estate:before { content: '\e8aa'; } /* '' */
.icon-real-estate-1:before { content: '\e8ab'; } /* '' */
.icon-real-estate-2:before { content: '\e8ac'; } /* '' */
.icon-real-estate-3:before { content: '\e8ad'; } /* '' */
.icon-real-estate-4:before { content: '\e8ae'; } /* '' */
.icon-real-estate-5:before { content: '\e8af'; } /* '' */
.icon-search:before { content: '\e8b0'; } /* '' */
.icon-skyscraper:before { content: '\e8b1'; } /* '' */
.icon-skyscraper-1:before { content: '\e8b2'; } /* '' */
.icon-skyscraper-2:before { content: '\e8b3'; } /* '' */
.icon-skyscraper-3:before { content: '\e8b4'; } /* '' */
.icon-apartment:before { content: '\e8b5'; } /* '' */
.icon-apartment-1:before { content: '\e8b6'; } /* '' */
.icon-apartment-2:before { content: '\e8b7'; } /* '' */
.icon-apartment-3:before { content: '\e8b8'; } /* '' */
.icon-apartment-4:before { content: '\e8b9'; } /* '' */
.icon-apartment-5:before { content: '\e8ba'; } /* '' */
.icon-apartment-6:before { content: '\e8bb'; } /* '' */
.icon-apartment-7:before { content: '\e8bc'; } /* '' */
.icon-appartment:before { content: '\e8bd'; } /* '' */
.icon-next-11:before { content: '\e8be'; } /* '' */
.icon-back-8:before { content: '\e8bf'; } /* '' */